.block {
    background-color: #FF6961;
    display: flex;
    flex: 1;
    padding: 5px;
    margin: 5px;
    font-size: 18px; /* Increase font size */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Modern font stack for headings */
    justify-content: space-around;
    align-items: center;
}

.placeholder {
    height: 50px;
    width: 50px;
    min-width: 50px; /* Set a minimum width */
    box-sizing: content-box;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 18px; /* Increase font size */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Modern font stack for headings */
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color:gray;
  }
  /* found this online --- it prevents the user from being able to make a (visible) newline */
  [contenteditable=true] br{
    display:none;
  }