.block {
    background-color: black;
    display: flex;
    flex: 1;
    padding: 5px;
    margin: 5px;
    font-size: 50px; /* Increase font size */
    font-family: 'Courier New', Courier, monospace; /* Modern font stack for headings */
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
}

.outerblock {
  display: flex; 
  flex-direction:row; 
  align-items: stretch;
  justify-content: center;
}

.innerblock {
  display: flex;
  padding: 5px;
  margin: 5px;
  align-items: center;
  justify-content: space-around;
}

.placeholder {
  background-color: black;
  color: white;
  font-weight: bold;
  /*height: 50px;*/
  /*width: 50px;*/
  min-width: 50px; /* Set a minimum width */
  min-height: 50px;
  box-sizing: content-box;
  border: none;
  /*padding: 8px;
  margin-bottom: 10px;*/
  font-size: 45px; /* Increase font size */
  font-family: 'Courier New', Courier, monospace; /* Modern font stack for headings */
}

.placeholder:focus{
  /*background-color: yellow;*/
}

#top\.next {
  display: none;
}

#top\.prev {
  display: none;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color:gray;
  }
  /* found this online --- it prevents the user from being able to make a (visible) newline */
  [contenteditable=true] br{
    display:none;
  }

  .divider {
    width: 5px; /* Adjust the width as needed */
    min-height: 100px;
    /* height: 80%; Adjust the height as needed */
    background-color: #ccc; /* Default color */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .divider:hover,
  .divider:focus {
    background-color: orange; /* Color on hover or focus */
  }
  
  hr {
    width: 100%;
  }

  .bluecirc {
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    top: 0px;
    left: 0px;
}

  .separator {
    min-width: 5px; /* Adjust the width as needed */
    width: 100%;
    transition: background-color 0.3s ease; /* Smooth transition */
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
  }
  
  .separator:hover,
  .separator:focus {
    background-color: orange; /* Color on hover or focus */
  }
  
  .buffer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    flex-direction: column;
  }

  .bufferTxt {
    display: flex;
    flex: 9;
  }

/** Custom input field */

  .inputfield {
    min-width: 100%;
    max-width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    /*
    padding: 50px;
    background-color: black;
    */
}

.caret {
    min-width: 10px; /* Adjust width as needed */
    width: 10px;
    /* height: 100%; Full height of the container */
    height: 50px;
    background-color: orange; /* Caret color */
    animation: blink 1s step-end infinite; /* Blinking animation */
    /*opacity: 50%;*/
    z-index: 5;
}

.caretend {
    background-color: blue;
    animation: blink 1s step-end infinite;
    /*opacity: 50%;*/
    z-index: 5;
}

.char {
    color: white;
    z-index: 1;
}

.highlighted {
    background-color: yellow;
    color: black;
}


/** popup settings menu */
#settings {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
}
